   
<div>
		<app-content-card  *ngFor="let item of product; let even = even; let odd = odd" 
		[class.even]="even" [class.odd]="odd" [product]="item"></app-content-card>
</div>

<h1>Headphone</h1>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:'Headphone'; let even = even; let odd = odd;" class="HeadphoneCard" [class.even]="even" [class.odd]="odd" [product]="item"></app-content-card>
</div>

<hr>

<h1>Speakers</h1>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:'Speaker'; let even = even; let odd = odd" class="SpeakerCard" [class.even]="even" [class.odd]="odd" [product]="item"></app-content-card>
</div>

<hr>

<h1>watch</h1>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:'Watch'; let even = even; let odd = odd" class="Watchcard" [class.even]="even" [class.odd]="odd" [product]="item"></app-content-card>
</div>


<h1>No Type:</h1>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:''; let even = even; let odd = odd" class="NullTypeCard" [class.even]="even" [class.odd]="odd" [product]="item"></app-content-card>
</div>