<!--    
<div>
		<app-content-card  *ngFor="let item of product; " 
		[class.even]="even" [class.odd]="odd" [product]="item"></app-content-card>
</div> -->

<h2>Headphone</h2>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:'Headphone';" class="HeadphoneCard" [product]="item"></app-content-card>
</div>

<hr>

<h2>Speakers</h2>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:'Speaker'; " class="SpeakerCard"  [product]="item"></app-content-card>
</div>

<hr>

<h2>watch</h2>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:'Watch'; " class="Watchcard"  [product]="item"></app-content-card>
</div>


<h2>No Type:</h2>
<div>
	<app-content-card  *ngFor="let item of product | productFilter:''; " class="NullTypeCard" [product]="item"></app-content-card>
</div>