:host{
	display: block;
	text-align: center;
	border: 2px solid;
	margin: 10px auto;
	width: 60vw;
	font-variant: small-caps;
	/* /* background-color: #166d3b; */
	/* background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%); */
	color: rgb(0, 0, 0);

	/* Odd Even ContentCard Styles */
	&.even {
		/* color: grey; */
		background-color: lightgray;
	}

	&.odd {
		background-color: white;
	}
}

.content{
	padding: 20px 30px;
}

.img{
    width:180px ;
    height: 150px;
    border-radius: 15px;
    background-color: #ebebeb;
}
