:host{
	display: block;
	text-align: center;
	border: 2px solid;
	margin: auto;
	width:auto;
	color: rgb(0, 0, 0);

	/* Odd Even ContentCard Styles */
	&.even {
		/* color: grey; */
		background-color: lightgray;
	}

	&.odd {
		background-color: white;
	}
}


.img{
    width:180px ;
    height: 150px;
    border-radius: 15px;
    background-color: #ebebeb;
}

.HeadphoneCard{
	background-color:cadetblue;
	color: antiquewhite;
}