:host {
    width: 100%;
    background-color: #082a3a;
    border-bottom: 3px solid #00e6f6;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    color: white;
    margin-bottom: 5px;
}
  .bar{
    display: flex;
    h1{
        margin: auto;
        flex: 0.3;
        text-align: center;
    }
    ul {
    flex: 0.7;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding: 8px;
    font-size: large;

    li {
      display: inline-block;
  
      a {
        color: white;
        text-decoration: none;
        padding: 16px;
        display: inline-block;
  
        &:hover{
            color: #00e6f6 ;
        }
        
        &.active {
          color: #1f6cab;
        }
    }
}
} 
}