<ng-container *ngIf="!verify_and_refirect_Route">
  <h2>
    You are Editing Product
</h2>
<div>
  <mat-form-field color="primary" appearance="fill">
    <mat-label for="title">Name:</mat-label>
    <input id="title" name="title" matInput [(ngModel)]="product.title" >
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="brand-name">Brand Name:</mat-label>
    <input id="brand-name" name="brand-name" matInput [(ngModel)]="product.author" >
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="type">Type:</mat-label>
    <input id="type" name="type" matInput [(ngModel)]="product.type">
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="imageLink">IMAGE URL:</mat-label>
    <input id="imageLink" name="imageLink" matInput [(ngModel)]="product.imageLink" >
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="body">BODY: </mat-label>
    <input id="body" name="body" matInput [(ngModel)]="product.body" >
  </mat-form-field><br /><br />


  <mat-form-field color="primary" appearance="fill">
    <mat-label for="hashtags">Tags: </mat-label>
    <input id="hashtags" name="hashtags" matInput [(ngModel)]="temphashtags" >
  </mat-form-field><br /><br />

  
      <button mat-raised-button color="accent" (click)="updateContentOnServer()" type="submit">
        Edit Product
      </button>
</div>
</ng-container>

<ng-container *ngIf="verify_and_refirect_Route">
  <h2>
    You are Adding new Product
</h2>
<div>
  <mat-form-field color="primary" appearance="fill">
    <mat-label for="title">Name:</mat-label>
    <input id="title" name="title" matInput [(ngModel)]="product.title" >
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="brand-name">Brand Name:</mat-label>
    <input id="brand-name" name="brand-name" matInput [(ngModel)]="product.author" >
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="type">Type:</mat-label>
    <input id="type" name="type" matInput [(ngModel)]="product.type">
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="imageLink">IMAGE URL:</mat-label>
    <input id="imageLink" name="imageLink" matInput [(ngModel)]="product.imageLink" >
  </mat-form-field><br /><br />

  <mat-form-field color="primary" appearance="fill">
    <mat-label for="body">BODY: </mat-label>
    <input id="body" name="body" matInput [(ngModel)]="product.body" >
  </mat-form-field><br /><br />


  <mat-form-field color="primary" appearance="fill">
    <mat-label for="hashtags">Tags: </mat-label>
    <input id="hashtags" name="hashtags" matInput [(ngModel)]="temphashtags" >
  </mat-form-field>
  <br /><br />
      <button (click)="addContentToServer()"  mat-raised-button color="accent" type="submit">
        Add Product
      </button>
</div>
</ng-container>