<ng-container *ngIf="contentItem">
  <h2>
    {{ contentItem.author }}
  </h2>
</ng-container>

<div class="button">
  <a routerLink="/detail/{{this.previousButton}}"  mat-raised-button color="accent"> &laquo;  &nbsp;  Previous</a>
  <a routerLink="/list"  mat-raised-button color="accent">Product list</a>
  <a id="back-to-list" mat-raised-button color="accent" routerLink="/updateContent/{{this.id}}">Update Product</a>

</div>
<div class="body">
  <ng-container *ngIf="contentItem">
    <img *ngIf="contentItem" [src]="contentItem.imageLink">
    <div class="text">
      <p class="body" *ngIf="contentItem && contentItem.body; else elseBlockNameIsWhateverYouWant">
        {{contentItem.body}}
      </p>
      <ng-template #elseBlockNameIsWhateverYouWant>
        <p class="not-found">No body content found</p>
      </ng-template>
    </div>
  </ng-container>
</div>